node_modules
dist
.env
.env.local
*.log
.DS_Store
apps/api/prisma/migrations/**/migration_lock.toml
coverage
.turbo

# Cross-platform OS & local editor
.AppleDouble
.LSOverride
Thumbs.db
ehthumbs.db
Desktop.ini
*.swp
*.swo
*~
