node_modules
dist
.output
.vercel
.turbo
.env
.env.local
*.log
.DS_Store
apps/web/.astro
coverage
prisma/migrations/**/migration_lock.toml

# Cross-platform OS & local editor
.AppleDouble
.LSOverride
Thumbs.db
ehthumbs.db
Desktop.ini
*.swp
*.swo
*~
